body{
   text-align:center;
background-color: antiquewhite;
}

.words{
    
    color: aqua;
     
}

.sch{
    text-align: center;
}

.dhar{
    font-size:20px;
    color: aqua
}


.